<!DOCTYPE html>
{% load static %}
{% load cart %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#f2e1fe"/>
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<section id="header">
    <a id="logo" href="/">EMU</a>
    <div id="navbar">
        <ul id="nav-items">
            <li class="nav-item">
                <a class="nav-link active" id="home" href="{% url 'core:index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'core:shop' %}" id="shop">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'core:blog' %}" id="blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'core:about' %}" id="about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'core:contact' %}" id="contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'core:cart-summary' %}" id="cart">

                    <i class="fa-solid fa-cart-shopping" id="base-cart"></i>
                    <span class="cart-count-badge">{{request.user|cart_count}}</span>
                </a>
            </li>
            <span class="nav-link" id="close"><i class="fa-solid fa-times"></i></span>
        </ul>
    </div>
    <div class="collapse-toggle" id="collapse-toggle">
        <a class="nav-link" href="{% url 'core:cart-summary' %}" id="toggle-cart">

            <i class="fa-solid fa-cart-shopping" id="base-cart-s"></i>
            <span class="cart-count-badge">{{request.user|cart_count}}</span>
        </a>
        <div class="collapse-bars" id="collapse-bars">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</section>
<div class="notification">
    {% for message in messages %}
    <div class="{{message.tags}}" id="notification-messages">
        <div class="message">
            {{message}}
        </div>
        <div class="messages-close-icon" onclick="closeMessages()" id="messages-close-icon">&times;</div>
    </div>
    {% endfor %}
</div>
{% block content%}
{% endblock %}
<section id="newsletter">
    <div id="news-text">
        <h4>Sign up for NewsLetter</h4>
        <p>Get E-mail updates about our lattest shop and <span>special offers.</span></p>
    </div>
    <div id="news-form" class="form">
        <input type="text" placeholder="Your email address">
        <button type="submit">Sign Up</button>
    </div>
</section>
<script src="{% static 'scripts/script.js' %}"></script>
</body>
</html>