{% extends 'base.html' %}
{% load static %}

{% block content%}
<section id="welcome-shop">
    <h2>#Stay home</h2>
    <p>Save more with coupons up to 70% off!</p>
</section>

<section id="products" class="products">
    <div id="product-container" class="product-container">
        {% for product in object_list %}
        <div id="product" class="product">
            <a href="{{product.get_product_absolute_url}}">
                <img src="{{product.image.url}}" alt="">
            </a>
            <div id="description" class="description">
                <a href="{{product.get_product_absolute_url}}">
                    <span>{{product.brand_name}}</span>
                    <h5>{{product.name}}</h5>
                </a>
                <div id="stars" class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>${{product.price}}</h4>
            </div>
            <a href="{% url 'core:cart-summary' %}"><i id="product-cart" class="fa fa-shopping-cart product-cart"></i></a>
        </div>
        {% endfor %}
    </div>
</section>
<section id="pagination" class="pagination">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fa fa-arrow-right"></i> </a>
</section>



{% endblock %}